@font-face {
  font-family: "Saemaul";
  src: url("./fonts/HSSaemaul-Regular.ttf");
}

@font-face {
  font-family: "Samlip";
  src: url("./fonts/SDSamliphopangcheTTFBasic.ttf");
}

@font-face {
  font-family: "Kyobo";
  src: url("./fonts/Kyobo Handwriting 2019.otf");
}
